/*footer start*/
font-size: 14px;
padding: 5px;
/* width: 200px; */
transition: all 0.5s;
cursor: pointer;
margin: 3px;
}
/*video class end*/
/*read more button*/
#more {display: none;
cursor: pointer;
}
/*read more button end */
/*our popular courses*/

@media screen and (max-width: 600px){
.client{
margin-left: 5%;
}
}
@media screen and (max-width: 360px){
.client{
margin-left: -8%;
}
}
.view{
margin-bottom: 40px;
color:#fff;
background: linear-gradient(to right, #1a2980, #26d0ce);
cursor: pointer;
margin-left: 40%;
}

.img5:hover
{
  box-shadow: 0 4px 20px rgb(101, 155, 246);
  z-index: 2;
  -webkit-transition: all 100ms ease-in;
  -webkit-transform: scale(1.1);
  -ms-transition: all 100ms ease-in;
  -ms-transform: scale(1.5);   
  -moz-transition: all 100ms ease-in;
  -moz-transform: scale(1.1);
  transition: all 100ms ease-in;
  transform: scale(1.1);
}

@media screen and (max-width: 360px){
.img5{
margin-left: 1%;
}
}
.img5{
  width: 80px;
  height: 80px;
  border-radius: 15px;
  margin:3%;
}
.t2{
  color:#fff;
}
@media only screen and (max-width:700px){
.t2{
  font-size: 10px;
}}
.top1 li {
display: inline-block;
}
/*topbar class*/
.bg3{
  background: #050505;
  padding: 5px 0px;
  text-align: center;
}
@media only screen and (max-width:746px){
.bg3{
display: none;
}
}
/*our popular end*/
/*footer start */

.footer-section {
background: #252D31;
position: relative;
}
.footer-cta {
border-bottom: 2px solid #fff;
}
.single-cta i {
color: #10A0DF;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #fff;
font-size: 15px;
}

.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
color: #fff;
line-height: 28px;
}

.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.facebook-bg{
background: #10A0DF;
}
.t3{
color:#fff;
}
.twitter-bg{
background: #10A0DF;
}
.google-bg{
background: #10A0DF;
}
.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: #10A0DF;
}
.footer-widget ul li {
display: inline-block;
float: left;
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: #fff;
}
.footer-widget ul li a {
color: #fff;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #fff;
border: 1px solid #2E2E2E;
color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #10A0DF;
  padding: 13px 20px;
  border: 1px solid #fff;
  top: 0;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: #202020;
padding: 25px 0;
}
@media screen and (max-width: 600px){
.copyright-area{
padding-bottom: 40px;
}}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #878787;
}
.copyright-text p a{
color: #ff5e14;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.foot1{
padding-left:22%;
}
@media screen and (max-width: 600px){
.foot1{
padding-left:0%;
}}
.footer-menu li:hover a{
color: #ff5e14;
}
.footer-menu li a {
font-size: 14px;
color: #878787;
}
.img7{
height: 40px;
width: 120px;

}
@media screen and (max-width: 600px){
.img7{
height: 30px;
width: 70px;

}}
.col{
height: 110px;
/*width: 150px;*/
}

/*footer section end*/